<a href="https://colab.research.google.com/github/cristiandarioortegayubro/Maestria-Ciencia-de-Datos-UBA-FCE/blob/main/Taller_de_Programacion/TF_TPP_ORTEGA_YUBRO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center>

![Logo ENAP.png]()

#### Maestría en Métodos Cuantitativos para la Gestión y Análisis de Datos en Organizaciones

#### Taller de Programación - Python - **Segunda Evaluación**

- Natalia SALABERRY

```
Maestrando: Cristian Darío ORTEGA YUBRO
```

### Activando módulos necesarios

In [1]:
import pandas as pd
import numpy as np
import plotly.express as px

### **1**) Obtención de datos y creación del dataframe

*Importar a su cuaderno del Colaboratory el archivo bank.zip que se encuentra en el repositorio de UCI en el siguiente link: https://archive.ics.uci.edu/ml/machine-learning-databases/00222/*

#### Obtención de datos

In [2]:
url="https://raw.githubusercontent.com/cristiandarioortegayubro/Maestria-Ciencia-de-Datos-UBA-FCE/main/Gestion_y_Procesamiento_BD/"
archivo="bank-full.csv"

#### Creación del dataframe

In [3]:
bankfull = pd.read_csv(url+archivo)

### **2**) Visualización del dataframe

*Utilizando el conjunto de datos bank-full.csv se solicita obtenga las dimensiones del mismo.*

In [4]:
bankfull

       age           job   marital  education  ... pdays  previous poutcome    y
0       58    management   married   tertiary  ...    -1         0  unknown   no
1       44    technician    single  secondary  ...    -1         0  unknown   no
2       33  entrepreneur   married  secondary  ...    -1         0  unknown   no
3       47   blue-collar   married    unknown  ...    -1         0  unknown   no
4       33       unknown    single    unknown  ...    -1         0  unknown   no
...    ...           ...       ...        ...  ...   ...       ...      ...  ...
45206   51    technician   married   tertiary  ...    -1         0  unknown  yes
45207   71       retired  divorced    primary  ...    -1         0  unknown  yes
45208   72       retired   married  secondary  ...   184         3  success  yes
45209   57   blue-collar   married  secondary  ...    -1         0  unknown   no
45210   37  entrepreneur   married  secondary  ...   188        11    other   no

[45211 rows x 17 columns]

El dataframe tiene una dimensión de 45211 filas y 17 columnas

In [5]:
bankfull.shape

(45211, 17)

El dataframe tiene un tamaño de 768587 datos, el resultante de multiplicar 45211 filas por 17 columnas

In [6]:
bankfull.size

768587

### **3**) Profiling Reporte

*Realiza un Profiling Reporte. Con el resultado obtenido elabore una descripción inicial del conjunto de datos en su informe.*

#### Actualizando el módulo pandas-profiling

In [7]:
#pip install -U pandas-profiling

#### Activando módulo necesario

In [8]:
from pandas_profiling import ProfileReport

In [9]:
#!jupyter nbextension enable --py widgetsnbextension

#### Generando el Profiling Reporte

In [10]:
#ProfileReport(bankfull)

### **4**) Preparación de los datos

*Convierta en categorías numéricas todos los campos que son String. Para esto, en cada caso debe obtener las categorías únicas y luego poder reemplazar los String por números. En el caso que cuente con un valor "unknown" impute None.
Finalmente, verifique en que campos existen valores faltantes*

In [11]:
bankfull.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  int64
 1   job        45211 non-null  object
 2   marital    45211 non-null  object
 3   education  45211 non-null  object
 4   default    45211 non-null  object
 5   balance    45211 non-null  int64
 6   housing    45211 non-null  object
 7   loan       45211 non-null  object
 8   contact    45211 non-null  object
 9   day        45211 non-null  int64
 10  month      45211 non-null  object
 11  duration   45211 non-null  int64
 12  campaign   45211 non-null  int64
 13  pdays      45211 non-null  int64
 14  previous   45211 non-null  int64
 15  poutcome   45211 non-null  object
 16  y          45211 non-null  object
dtypes: int64(7), object(10)
memory usage: 5.9+ MB

#### Reemplazando unknown por none

##### Verificando la palabra "unknown" por columna

###### Columna job

In [12]:
bankfull.query("job =='unknown'")

       age      job   marital education  ... pdays  previous poutcome    y
4       33  unknown    single   unknown  ...    -1         0  unknown   no
216     47  unknown   married   unknown  ...    -1         0  unknown   no
354     59  unknown  divorced   unknown  ...    -1         0  unknown   no
876     37  unknown    single   unknown  ...    -1         0  unknown   no
1072    29  unknown    single   primary  ...    -1         0  unknown   no
...    ...      ...       ...       ...  ...   ...       ...      ...  ...
44714   45  unknown   married  tertiary  ...    -1         0  unknown  yes
44742   64  unknown   married   unknown  ...    -1         0  unknown   no
44970   28  unknown    single   unknown  ...   231         1  success  yes
45141   77  unknown   married   unknown  ...   185         3  success   no
45186   59  unknown   married   unknown  ...   104         2  failure   no

[288 rows x 17 columns]

***Para la columna "job" tenemos 288 valores "unknown"***

###### Columna education

In [13]:
bankfull.query("education=='unknown'")

       age          job  marital education  ... pdays  previous poutcome    y
3       47  blue-collar  married   unknown  ...    -1         0  unknown   no
4       33      unknown   single   unknown  ...    -1         0  unknown   no
13      58   technician  married   unknown  ...    -1         0  unknown   no
16      45       admin.   single   unknown  ...    -1         0  unknown   no
42      60  blue-collar  married   unknown  ...    -1         0  unknown   no
...    ...          ...      ...       ...  ...   ...       ...      ...  ...
45129   46   technician  married   unknown  ...    91         2  success  yes
45141   77      unknown  married   unknown  ...   185         3  success   no
45150   65   management  married   unknown  ...   188        13  success   no
45158   34      student   single   unknown  ...    99         5  failure   no
45186   59      unknown  married   unknown  ...   104         2  failure   no

[1857 rows x 17 columns]

***Para la columna "education" tenemos 1857 valores "unknown"***

###### Columna contact

In [14]:
bankfull.query("contact=='unknown'")

       age            job  marital  education  ... pdays  previous poutcome   y
0       58     management  married   tertiary  ...    -1         0  unknown  no
1       44     technician   single  secondary  ...    -1         0  unknown  no
2       33   entrepreneur  married  secondary  ...    -1         0  unknown  no
3       47    blue-collar  married    unknown  ...    -1         0  unknown  no
4       33        unknown   single    unknown  ...    -1         0  unknown  no
...    ...            ...      ...        ...  ...   ...       ...      ...  ..
45061   30  self-employed   single  secondary  ...    -1         0  unknown  no
45062   58        retired  married    primary  ...    -1         0  unknown  no
45122   40   entrepreneur   single   tertiary  ...    -1         0  unknown  no
45135   53    blue-collar  married    primary  ...    -1         0  unknown  no
45136   53  self-employed  married   tertiary  ...   368         2  failure  no

[13020 rows x 17 columns]

***Para la columna "contact" tenemos 13020 valores "unknown"***

###### Columna poutcome

In [15]:
bankfull.query("poutcome=='unknown'")

       age           job   marital  education  ... pdays  previous poutcome    y
0       58    management   married   tertiary  ...    -1         0  unknown   no
1       44    technician    single  secondary  ...    -1         0  unknown   no
2       33  entrepreneur   married  secondary  ...    -1         0  unknown   no
3       47   blue-collar   married    unknown  ...    -1         0  unknown   no
4       33       unknown    single    unknown  ...    -1         0  unknown   no
...    ...           ...       ...        ...  ...   ...       ...      ...  ...
45203   23       student    single   tertiary  ...    -1         0  unknown  yes
45205   25    technician    single  secondary  ...    -1         0  unknown  yes
45206   51    technician   married   tertiary  ...    -1         0  unknown  yes
45207   71       retired  divorced    primary  ...    -1         0  unknown  yes
45209   57   blue-collar   married  secondary  ...    -1         0  unknown   no

[36959 rows x 17 columns]

***Para la columna "poutcome" tenemos 36959 valores "unknown"***

##### Reemplazando la palabra "unknown" por "None"

Las columnas a reemplazar la palabra "unknown" por "None" son:
- job
- education
- contact
- poutcome

In [16]:
bankfull.replace({"unknown":"None"}, inplace=True)

Verificando que no está la palabra "unknown"

In [17]:
bankfull.query("job=='unknown'")

Empty DataFrame
Columns: [age, job, marital, education, default, balance, housing, loan, contact, day, month, duration, campaign, pdays, previous, poutcome, y]
Index: []

In [18]:
bankfull.query("education=='unknown'")

Empty DataFrame
Columns: [age, job, marital, education, default, balance, housing, loan, contact, day, month, duration, campaign, pdays, previous, poutcome, y]
Index: []

In [19]:
bankfull.query("contact=='unknown'")

Empty DataFrame
Columns: [age, job, marital, education, default, balance, housing, loan, contact, day, month, duration, campaign, pdays, previous, poutcome, y]
Index: []

In [20]:
bankfull.query("poutcome=='unknown'")

Empty DataFrame
Columns: [age, job, marital, education, default, balance, housing, loan, contact, day, month, duration, campaign, pdays, previous, poutcome, y]
Index: []

Verificando la palabra "None"

In [21]:
bankfull.query("job =='None'")

       age   job   marital education  ... pdays  previous poutcome    y
4       33  None    single      None  ...    -1         0     None   no
216     47  None   married      None  ...    -1         0     None   no
354     59  None  divorced      None  ...    -1         0     None   no
876     37  None    single      None  ...    -1         0     None   no
1072    29  None    single   primary  ...    -1         0     None   no
...    ...   ...       ...       ...  ...   ...       ...      ...  ...
44714   45  None   married  tertiary  ...    -1         0     None  yes
44742   64  None   married      None  ...    -1         0     None   no
44970   28  None    single      None  ...   231         1  success  yes
45141   77  None   married      None  ...   185         3  success   no
45186   59  None   married      None  ...   104         2  failure   no

[288 rows x 17 columns]

In [22]:
bankfull.query("education=='None'")

       age          job  marital education  ... pdays  previous poutcome    y
3       47  blue-collar  married      None  ...    -1         0     None   no
4       33         None   single      None  ...    -1         0     None   no
13      58   technician  married      None  ...    -1         0     None   no
16      45       admin.   single      None  ...    -1         0     None   no
42      60  blue-collar  married      None  ...    -1         0     None   no
...    ...          ...      ...       ...  ...   ...       ...      ...  ...
45129   46   technician  married      None  ...    91         2  success  yes
45141   77         None  married      None  ...   185         3  success   no
45150   65   management  married      None  ...   188        13  success   no
45158   34      student   single      None  ...    99         5  failure   no
45186   59         None  married      None  ...   104         2  failure   no

[1857 rows x 17 columns]

In [23]:
bankfull.query("contact=='None'", inplace=False)

       age            job  marital  education  ... pdays  previous poutcome   y
0       58     management  married   tertiary  ...    -1         0     None  no
1       44     technician   single  secondary  ...    -1         0     None  no
2       33   entrepreneur  married  secondary  ...    -1         0     None  no
3       47    blue-collar  married       None  ...    -1         0     None  no
4       33           None   single       None  ...    -1         0     None  no
...    ...            ...      ...        ...  ...   ...       ...      ...  ..
45061   30  self-employed   single  secondary  ...    -1         0     None  no
45062   58        retired  married    primary  ...    -1         0     None  no
45122   40   entrepreneur   single   tertiary  ...    -1         0     None  no
45135   53    blue-collar  married    primary  ...    -1         0     None  no
45136   53  self-employed  married   tertiary  ...   368         2  failure  no

[13020 rows x 17 columns]

In [24]:
bankfull.query("poutcome=='None'")

       age           job   marital  education  ... pdays  previous poutcome    y
0       58    management   married   tertiary  ...    -1         0     None   no
1       44    technician    single  secondary  ...    -1         0     None   no
2       33  entrepreneur   married  secondary  ...    -1         0     None   no
3       47   blue-collar   married       None  ...    -1         0     None   no
4       33          None    single       None  ...    -1         0     None   no
...    ...           ...       ...        ...  ...   ...       ...      ...  ...
45203   23       student    single   tertiary  ...    -1         0     None  yes
45205   25    technician    single  secondary  ...    -1         0     None  yes
45206   51    technician   married   tertiary  ...    -1         0     None  yes
45207   71       retired  divorced    primary  ...    -1         0     None  yes
45209   57   blue-collar   married  secondary  ...    -1         0     None   no

[36959 rows x 17 columns]

#### Convirtiendo string por números

##### Habilitando el modulo necesario

In [25]:
from sklearn.preprocessing import LabelEncoder

##### Convertiendo string

In [26]:
bankfull.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  int64
 1   job        45211 non-null  object
 2   marital    45211 non-null  object
 3   education  45211 non-null  object
 4   default    45211 non-null  object
 5   balance    45211 non-null  int64
 6   housing    45211 non-null  object
 7   loan       45211 non-null  object
 8   contact    45211 non-null  object
 9   day        45211 non-null  int64
 10  month      45211 non-null  object
 11  duration   45211 non-null  int64
 12  campaign   45211 non-null  int64
 13  pdays      45211 non-null  int64
 14  previous   45211 non-null  int64
 15  poutcome   45211 non-null  object
 16  y          45211 non-null  object
dtypes: int64(7), object(10)
memory usage: 5.9+ MB

Las columnas a convertir string con LabelEncoder son:
- job
- marital
- education
- default
- housing
- loan
- contact
- poutcome
- y

La columna month se convertirá luego

In [27]:
convertir = LabelEncoder()

Aplicando la función str para LabelEncoder

In [28]:
bankfull.job = bankfull.job.apply(str)
bankfull.marital = bankfull.marital.apply(str)
bankfull.education = bankfull.education.apply(str)
bankfull.default = bankfull.default.apply(str)
bankfull.housing = bankfull.housing.apply(str)
bankfull.loan = bankfull.loan.apply(str)
bankfull.contact = bankfull.contact.apply(str)
bankfull.month = bankfull.month.apply(str)
bankfull.poutcome = bankfull.poutcome.apply(str)
bankfull.y = bankfull.y.apply(str)

Convirtiendo

In [29]:
bankfull.insert(2,column="numjob",value=convertir.fit_transform(bankfull.job))
bankfull.insert(4,column="nummarital",value=convertir.fit_transform(bankfull.marital))
bankfull.insert(6,column="numeducation",value=convertir.fit_transform(bankfull.education))
bankfull.insert(8,column="numdefault",value=convertir.fit_transform(bankfull.default))
bankfull.insert(11,column="numhousing",value=convertir.fit_transform(bankfull.housing))
bankfull.insert(13,column="numloan",value=convertir.fit_transform(bankfull.loan))
bankfull.insert(15,column="numcontact",value=convertir.fit_transform(bankfull.contact))
bankfull.insert(23,column="numpoutcome",value=convertir.fit_transform(bankfull.poutcome))
bankfull.insert(25,column="numy",value=convertir.fit_transform(bankfull.y))

In [30]:
bankfull

       age           job  numjob   marital  ...  poutcome numpoutcome    y numy
0       58    management       5   married  ...      None           0   no    0
1       44    technician      10    single  ...      None           0   no    0
2       33  entrepreneur       3   married  ...      None           0   no    0
3       47   blue-collar       2   married  ...      None           0   no    0
4       33          None       0    single  ...      None           0   no    0
...    ...           ...     ...       ...  ...       ...         ...  ...  ...
45206   51    technician      10   married  ...      None           0  yes    1
45207   71       retired       6  divorced  ...      None           0  yes    1
45208   72       retired       6   married  ...   success           3  yes    1
45209   57   blue-collar       2   married  ...      None           0   no    0
45210   37  entrepreneur       3   married  ...     other           2   no    0

[45211 rows x 26 columns]

Constatar los valores unicos de la columna month

In [31]:
bankfull.month.unique()

array(['may', 'jun', 'jul', 'aug', 'oct', 'nov', 'dec', 'jan', 'feb',
       'mar', 'apr', 'sep'], dtype=object)

Creando función para reemplazar los valores del mes por el número que corresponde

In [32]:
def mes(month):
  if month == "jan":
    return int("1")
  elif month == "feb":
    return int("2")
  elif month == "mar":
    return int("3")
  elif month == "apr":
    return int("4")
  elif month == "may":
    return int("5")
  elif month == "jun":
    return int("6")
  elif month == "jul":
    return int("7")
  elif month == "aug":
    return int("8")
  elif month == "sep":
    return int("9")
  elif month == "oct":
    return int("10")
  elif month == "nov":
    return int("11")
  else: 
    return int("12")

In [33]:
bankfull.month = bankfull.month.apply(mes)

In [34]:
bankfull

       age           job  numjob   marital  ...  poutcome numpoutcome    y numy
0       58    management       5   married  ...      None           0   no    0
1       44    technician      10    single  ...      None           0   no    0
2       33  entrepreneur       3   married  ...      None           0   no    0
3       47   blue-collar       2   married  ...      None           0   no    0
4       33          None       0    single  ...      None           0   no    0
...    ...           ...     ...       ...  ...       ...         ...  ...  ...
45206   51    technician      10   married  ...      None           0  yes    1
45207   71       retired       6  divorced  ...      None           0  yes    1
45208   72       retired       6   married  ...   success           3  yes    1
45209   57   blue-collar       2   married  ...      None           0   no    0
45210   37  entrepreneur       3   married  ...     other           2   no    0

[45211 rows x 26 columns]

In [35]:
bankfull.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 26 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   age           45211 non-null  int64
 1   job           45211 non-null  object
 2   numjob        45211 non-null  int64
 3   marital       45211 non-null  object
 4   nummarital    45211 non-null  int64
 5   education     45211 non-null  object
 6   numeducation  45211 non-null  int64
 7   default       45211 non-null  object
 8   numdefault    45211 non-null  int64
 9   balance       45211 non-null  int64
 10  housing       45211 non-null  object
 11  numhousing    45211 non-null  int64
 12  loan          45211 non-null  object
 13  numloan       45211 non-null  int64
 14  contact       45211 non-null  object
 15  numcontact    45211 non-null  int64
 16  day           45211 non-null  int64
 17  month         45211 non-null  int64
 18  duration      45211 non-null  int64
 19  campaign      45211 non-null  int64
 20  pdays         45211 non-null  int64
 21  previous      45211 non-null  int64
 22  poutcome      45211 non-null  object
 23  numpoutcome   45211 non-null  int64
 24  y             45211 non-null  object
 25  numy          45211 non-null  int64
dtypes: int64(17), object(9)
memory usage: 9.0+ MB

### **5**) Preparación de los datos

*En los casos de los campos “job”, “education” y “contact” que tenían un valor "unknown" y reemplazó por None, realice una imputación del vecino más cercano usando el criterio de distancia. En el caso del campo “poutcome” impute el valor más frecuente. Al finalizar, verifique que en toda su base de datos no haya valores perdidos.*

<font color="#ff8000">
<h6>
<b>Nota aclaratoria:</b> en el presente punto se solicita que los campos "job", "education", "contact" y "poutcome" se realicen imputaciones, las mismas se realizaran en las columnas numéricas, luego las columnas con cadenas de caracteres se eliminaran, para completar la consigna del punto 4)

</font>

#### Imputación del vecino más cercano